/* CSS crunched with Crunch - http://crunchapp.net/ */
#contentWrapper{width:800px;margin:0 auto;}#contentWrapper #canvas{position:relative;float:left;background-color:rgba(0, 0, 255, 0.1);width:800px;height:500px;}#contentWrapper #canvas #one{position:absolute;display:block;}
#contentWrapper #canvas #two{position:absolute;display:block;}
#contentWrapper #canvas #opaque{position:absolute;}
