#contentWrapper{
    width:800px;
    margin: 0 auto;
#canvas{
    position:relative;
    float:left;
    background-color:rgba(0,0,255,0.1);
    width:800px;
    height:500px;
        #one{
            position:absolute;
            display:block;
            }
            
        #two{
            position:absolute;
            display:block;
            }
        #opaque{
            position:absolute;
            }
    }
}