/* CSS crunched with Crunch - http://crunchapp.net/ */
#contentWrapper{width:800px;margin:0 auto;}#contentWrapper .topBar{padding:10px;margin:0px 20px;margin-bottom:16px;float:left;border:2px solid black;font-size:12px;}
#contentWrapper #canvas{position:relative;float:left;background-color:rgba(0, 0, 255, 0.1);width:800px;height:500px;}#contentWrapper #canvas #one{position:absolute;display:block;}#contentWrapper #canvas #one #oneButtonText{text-align:centre;font-size:8px;}
#contentWrapper #canvas #two{position:absolute;display:block;}#contentWrapper #canvas #two #twoButtonText{text-align:centre;font-size:8px;}
#contentWrapper #canvas #opaque{position:absolute;}
