h1{
    margin-top:0px;
    }
#contentWrapper{
    width:800px;
    margin: 0 auto;
    .topBar{
        p{
        margin:0px;    
        }
        width:95px;
        padding:10px;
        margin: 0px 20px;
        margin-bottom:16px;
        float:left;
        border: 2px solid black;
        font-size: 12px;
        }
#canvas{
    position:relative;
    float:left;
    border:2px solid #000000;
    width:800px;
    height:440px;
        .resultsWrapper{
            height:91px;
            margin:10px;
            .imageWrapper{
                height:50px;
                }
            }
        #one{
            position:absolute;
            display:block;
            #oneButtonText{
                text-align:centre;
                font-size:8px;
                }
            }
            
        #two{
            position:absolute;
            display:block;
            #twoButtonText{
                text-align:centre;
                font-size:8px;
                }
            }
        #opaque{
            position:absolute;
            }
    }
}